
:root {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

.teclado {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5px;
}

.fila {
    display:flex;
    flex-direction: row;
    justify-content: stretch;
    gap:15px;
}

.tecla {
    align-items: center;
    background-color: rgb(174, 195, 203);
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    display: flex;
    flex: 1 1;
    font-size: 17px;
    font-weight: bold;
    justify-content: center;
    padding: 15px;
    padding-inline: 19px;
    text-decoration: inherit;
    text-transform: capitalize;
}
.tecla:hover {
    background-color: rgb(212, 225, 230);
}
.tecla:active {
    transform: scale(1.15);
}
.teclaAncha {
    text-transform: none;
    flex:1;
}

.boardFila {
    display:flex;
}

.letra {
    border: 2px solid #dee1e9;
    font-size: 28px;
    font-weight: 700;
    height: 56px;
    margin: 3px;
    text-transform: uppercase;
    width: 56px;
    border-radius: 5px;
    color: #393e4c;
    background: #fbfcff;

    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
}